<section id="reasons" class="bg-tertiary">
  <div class="container">
    <div class="row" style="margin-bottom: 3em;">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2 class="section-heading">7 Reasons Why You'll LOVE Having A Wedding Website (Wedsite)</h2>
        <hr class="light">
        <p></p>
      </div>
    </div>
    <div class="row reasons-row">
      <div class="col-md-12 text-center">

        <div class="row reasons-row is-table-row">
          <div class="col-md-6 reasons-box">
            <div class="reasons-description">
              <h3 class="reasons-number">1</h3>
              <h3 class="reasons-title">It's modern</h3>
              <p>
                We're in 2018! We live in a modern world where everything is online. It makes our life easier.
                Experience the modern way of celebrating your big day by having a beautiful wedsite.
              </p>
            </div>
          </div>
          <div class="col-md-6 reasons-box">
            <img class="reasons-image" src="{{ "/assets/images/reasons/cool.jpg" | absolute_url }}" />
          </div>
        </div>

        <div class="row reasons-row is-table-row">
          <div class="col-md-6 col-md-push-6 reasons-box">
            <div class="reasons-description">
              <h3 class="reasons-number">2</h3>
              <h3 class="reasons-title">An appealing way to announce your big day</h3>
              <p>
                Wedding cards are nice. But what you can show to people is limited to what you can put on the cards.
                On the contrary, having a wedsite, you are limitless. The only limit is your imagination. Make your
                wedding unique.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-md-pull-6 reasons-box">
            <img class="reasons-image" src="{{ "/assets/images/reasons/married.jpg" | absolute_url }}" />
          </div>
        </div>

        <div class="row reasons-row is-table-row">
          <div class="col-md-6 reasons-box">
            <div class="reasons-description">
              <h3 class="reasons-number">3</h3>
              <h3 class="reasons-title">Better way to manage your guest list</h3>
              <p>
                Managing wedding guest list can be a nightmare. Well, not anymore! Guests can send their RSVPs through
                your wedsite and you'll receive a notification via email. You can easily access the list from any
                device which makes it very useful.
              </p>
            </div>
          </div>
          <div class="col-md-6 reasons-box">
            <img class="reasons-image" src="{{ "/assets/images/reasons/guestlist.jpg" | absolute_url }}" />
          </div>
        </div>

        <div class="row reasons-row is-table-row">
          <div class="col-md-6 col-md-push-6 reasons-box">
            <div class="reasons-description">
              <h3 class="reasons-number">4</h3>
              <h3 class="reasons-title">Easy access to your wedding information</h3>
              <p>
                Guests tend to forget the details of your wedding and they would always misplace the wedding invitation
                card that you gave them a month ago. Wouldn't it be really convenient if they could just Google your
                name and your wedsite shows up with all the information that they need? They could also go to your
                wedsite anywhere at anytime to retrieve the information.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-md-pull-6 reasons-box">
            <img class="reasons-image" src="{{ "/assets/images/reasons/ceremony.jpg" | absolute_url }}" />
          </div>
        </div>

        <div class="row reasons-row is-table-row">
          <div class="col-md-6 reasons-box">
            <div class="reasons-description">
              <h3 class="reasons-number">5</h3>
              <h3 class="reasons-title">Never get lost</h3>
              <p>
                Searching for a place that you've never been before can sometimes be painful. Help your guests to find
                your wedding venue easier by having Maps navigation on your wedsite. We bet your guests would really
                appreciate that.
              </p>
            </div>
          </div>
          <div class="col-md-6 reasons-box">
            <img class="reasons-image" src="{{ "/assets/images/reasons/maps.jpg" | absolute_url }}" />
          </div>
        </div>

        <div class="row reasons-row is-table-row">
          <div class="col-md-6 col-md-push-6 reasons-box">
            <div class="reasons-description">
              <h3 class="reasons-number">6</h3>
              <h3 class="reasons-title">Guests' shared photo album</h3>
              <p>
                You don't capture pictures. Instead, you capture memories. And memories are meant to be cherished forever. Allow
                guests to share with you their lovely photos at your wedding by having a shared photo album. They
                can easily upload the photos to the shared album and can also view photos from other people as well.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-md-pull-6 reasons-box">
            <img class="reasons-image" src="{{ "/assets/images/reasons/photo-album.jpg" | absolute_url }}" />
          </div>
        </div>

        <div class="row reasons-row is-table-row">
          <div class="col-md-6 reasons-box">
            <div class="reasons-description">
              <h3 class="reasons-number">7</h3>
              <h3 class="reasons-title">E-guestbook</h3>
              <p>
                Make it easier for friends and family to send their wedding wishes to you on your big day whether
                they are present or not. E-guestbooks never go away! They remain forever. And that is how it should be.
                The best part is, you can easily access them anywhere at anytime.
              </p>
            </div>
          </div>
          <div class="col-md-6 reasons-box">
            <img class="reasons-image" src="{{ "/assets/images/reasons/e-guestbook.jpg" | absolute_url }}" />
          </div>
        </div>

      </div>
    </div>
  </div>
</section>