<head>

  <title>Satu Hearty | Wedding Web Designer</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="Your Wedding Website Designer">
  <meta name="keyword" content="Malay wedding, Wedding website, Website designer, Wedding, RSVP, Personalized wedding website.">
  <meta name="author" content="satuhearty">
  <link rel="icon" type="image/png" href="https://www.satuhearty.com/img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://www.satuhearty.com/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://www.satuhearty.com/img/favicon-96x96.png" sizes="96x96">
  <meta property="og:title" content="Satu Hearty | Wedding Web Designer" />
  <meta property="og:url" content="www.satuhearty.com" />
  <meta property="og:image" content="https://www.satuhearty.com/img/favicon-square.png" />
  <meta property="og:description" content="Your Wedding Website Designer" />
  <link rel="shortcut icon" href="https://www.satuhearty.com/img/favicon.png">

  <!-- Custom Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/main.css" type="text/css">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="css/animate.min.css" type="text/css">

  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>
