<section id="portfolio" class="bg-primary portfolio-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Our Work</h2>
        <hr class="light">
      </div>
    </div>
    <div class="row no-gutter">
      <div class="col-lg-6 col-sm-6">
        <a href="http://mukmeenmaisarah.com" target="_blank" class="portfolio-box">
          <img src="img/portfolio/1.jpg" class="img-responsive" alt="mukmeenmaisarah.com">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Wedding Website</div>
              <div class="project-name">Mukmeen & Maisarah</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-sm-6">
        <a href="http://nikyusof.github.io/nikyusof/" target="_blank" class="portfolio-box">
          <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Personal website</div>
              <div class="project-name">nikyusof</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-sm-6">
        <a href="http://salamahridzwan.com" target="_blank" class="portfolio-box">
          <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Wedding Website</div>
              <div class="project-name">Salamah & Ridzwan</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Your project coming soon...</div>
              <div class="project-name"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
