<section id="portfolio" class="bg-primary portfolio-section">
  <div class="container-fluid">
    <div class="row" style="margin-bottom: 2em;">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Our Work</h2>
        <hr class="light">
        <p>
          Some of our work. Let the next one be yours!
        </p>
      </div>
    </div>
    <div class="row no-gutter">
      <div class="col-lg-6 col-sm-6">
        <a href="http://mukmeenmaisarah.com" target="_blank" class="portfolio-box">
          <img data-src="img/portfolio/mukmeenmaisarah.jpg" class="img-responsive" alt="www.mukmeenmaisarah.com">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Wedsite</div>
              <div class="project-name">Mukmeen & Maisarah</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-sm-6">
        <a href="http://salamahridzwan.com" target="_blank" class="portfolio-box">
          <img data-src="img/portfolio/salamahridzwan.jpg" class="img-responsive" alt="www.salamahridzwan.com">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Wedsite</div>
              <div class="project-name">Salamah & Ridzwan</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-sm-6">
        <a href="http://www.nafarch.com/" target="_blank" class="portfolio-box">
          <img data-src="img/portfolio/nafarch.jpg" class="img-responsive" alt="www.nafarch.com">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Company Website</div>
              <div class="project-name">Nik Amirul Faiz Architect</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-sm-6">
        <a href="#" class="portfolio-box">
          <img data-src="img/portfolio/comingsoon.jpg" class="img-responsive" alt="Your wedsite coming soon.">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Your wedsite coming soon...</div>
              <div class="project-name"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
