<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="{{ "/assets/js/jquery.js?cachebuster=050218" | absolute_url }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js?cachebuster=050218" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.easing.min.js?cachebuster=050218" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.fittext.js?cachebuster=050218" | absolute_url }}"></script>
<script src="{{ "/assets/js/wow.min.js?cachebuster=050218" | absolute_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.6.0/lazyload.min.js?cachebuster=050218"></script>
<script src="{{ "/assets/js/main.js?cachebuster=050218" | absolute_url }}"></script>

<script async>
  !function() {
    var t;
    if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e, n, o, i;
      e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
    });
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('78ipp2rpuppk');
</script>
