<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Features For Your Wedsite (Wedding Website)</h2>
        <hr class="primary">
        <p>
          There's no limit to what we can do. You decide on what you want on your website and we will do our best to
          accommodate your request. The only limit is your imagination. Nevertheless, here are some of the features
          that most people like.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box focus-hover">
          <i class="far fa-4x fa-file-code wow bounceIn text-primary"></i>
          <h3>Personalized wedsites</h3>
          <p class="text-muted">Wedding cards are cool. Wedding websites are cooler.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center focus-hover">
        <div class="service-box">
          <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <i class="fa fa-4x fa-tablet-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <i class="fa fa-4x fa-mobile-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Responsive web design</h3>
          <p class="text-muted">Your wedding website should look stunning on all devices.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center focus-hover">
        <div class="service-box">
          <i class="fab fa-4x fa-facebook-f wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <i class="fab fa-4x fa-twitter wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <i class="fab fa-4x fa-instagram wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Social Sharing</h3>
          <p class="text-muted">Include any social platforms of your preference.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center focus-hover">
        <div class="service-box">
          <i class="fa fa-4x fa-map-marker-alt wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Maps Navigation</h3>
          <p class="text-muted">Make sure your attendees don't get lost.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center focus-hover">
        <div class="service-box">
          <i class="far fa-4x fa-calendar wow bounceIn text-primary"></i>
          <h3>RSVP</h3>
          <p class="text-muted">Attendees can send RSVPs directly to your email.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center focus-hover">
        <div class="service-box">
          <i class="fa fa-4x fa-gift wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Registry</h3>
          <p class="text-muted">So people can get you the right presents.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center focus-hover">
        <div class="service-box">
          <i class="far fa-4x fa-address-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>E-Guestbook</h3>
          <p class="text-muted">NEW! The coolest feature ever; the E-Guestbook.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center focus-hover">
        <div class="service-box">
          <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Made with Love</h3>
          <p class="text-muted">You have to make your wedsites with love these days!</p>
        </div>
      </div>
    </div>
  </div>
</section>
