<section id="contact" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Testimonials</h2>
        <hr class="light">
      </div>
    </div>
    <div class="row">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators testimonial-carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active testimonial-carousel-indicator"></li>
          <li data-target="#myCarousel" data-slide-to="1" class="testimonial-carousel-indicator"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="container">
              <div class="row vertical-center">
                <div class="col-sm-4 text-center">
                  <img src="img/testimonial/salamah.jpg" class="testimonial-img img-responsive img-circle" alt="Salamah Salleh">
                </div>
                <div class="col-sm-8">
                  <p class="testimonial-content">"We are so glad that it is very user friendly and well commended by our guest. We love that they design according to our liking, we can't think of any better of what have been displayed."</p>
                  <br/>
                  <h4>Salamah Salleh, <i>Senior Branding & Marketing Executive at Olloum</i></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row vertical-center">
                <div class="col-sm-4 text-center">
                  <img src="img/testimonial/ridzwan.jpg" class="testimonial-img img-responsive img-circle" alt="Ridzwan Shafie">
                </div>
                <div class="col-sm-8">
                  <p class="testimonial-content">"The website is very useful as an event announcement on the occasion! Keep on creating lively website and we pray for your future endeavours. ☺"</p>
                  <br/>
                  <h4>Ridzwan Shafie, <i>Director at Inside Malaysia</i></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
