// Testimonial Styles
.vertical-center {
  display: flex;
  align-items: center;
}

.testimonial-img {
  margin: 0 auto;
  min-width: 5em;
  border: 4px solid white;
}

.testimonial-carousel-indicators {
  bottom: -35px;
  .testimonial-carousel-indicator {
    width: 15px;
    height: 15px;
    margin: 0 3px;
  }
}